<p class="photo"> <img src="/images/me.jpg">

<h1>Jack Bryant</h1>

     <article>

          <p> I’m a junior full stack software developer based in London. </p>
          <p> I’ve recently finished <a href="https://www.makersacademy.com"> Makers Academy</a>, a 3 month course in web development that covered Ruby on Rails, TDD, BDD, Javascript/Coffeescript, JQuery, SQL, HTML5, CSS3. </p>
          <p> I love working in small teams that are passionate about what they are doing. I also love music. </p>
          <p> While at Makers Academy, I worked on <a href="https://github.com/dwkns/fireworks"> Launch.it</a> an app that lets allows you to design a firework show to music then remotely fire the fireworks using a Raspberry Pi and a smartphone. </p>
          <p> I’m also a co-founder and DJ at <a href="https://www.mogadisco.wordpress.com"> Mogadisco</a>, an African music event and blog. </p>
          <p> You can find me on <a href="https://www.twitter.com/jackthebryant"> Twitter</a>. I tweet about coding, startups and music that I’m listening to. </p>
          <p> If you would like to chat you can email me at jackbryant597[at]gmail[dot]com, message me on <a href="uk.linkedin.com/pub/jack-bryant/58/335/482/">LinkedIn</a>, or <a href="https://www.twitter.com/jackthebryant"> DM</a> me. </p>
          <p> If you would like to see some of the projects I worked on while at Makers Academy then you can check out my <a href="https://github.com/jackbryant"> Github</a>. </p>

     </article> 
